<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quota</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Dosis|Montserrat|Libre+Baskerville|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Javascript/JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<div id="container-flex">    
        
        <div class="row">
            <div class="col-6 " style="padding-top: 10px">
                    <p style="font-size: 30pt; color: white;font-weight: 200">Database Questions</p>
                    <% if (questions.length > 0) { %>
                        <% for (i=0; i< questions.length; i++) { %>
                            <% if (questions[i].category == "database") { %>
                            <h1>Question: <%= questions[i].title %></h1>
                            <form action="/answers" method="POST">
                                Your Answer:<input type="text" name="content" />
                                <input type="hidden" name="title" value= "<%= questions[i].title %>" />
                                <input type="hidden" name="userid" value= "<%= questions[i].userid %>" />
                                <input type="submit" />  
                            </form>
                            <% } %>
                           <% } %>
                           <% } %>
                            
                        
            </div>
            <!-- <div class="col-6" style="padding-top: 10px">
                    <p style="font-size: 20pt; color: white;font-weight: 200">Question 2</p>
                <div id="button-container" class="flex-wrap" class="col-9">
                    <div class="d-flex flex-wrap justify-content-center" style="width: 100%;">
                        
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="row" style="padding-top: 10px; height: 50px">
            <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div id="searchBar" class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </div> -->
    </div>



</body>


</html> 