body {
    background-color: rgb(138,59,61) !important;
    list-style-type: none;
    font-family: 'Raleway', sans-serif; 
}

img {
    width: 300px;
}

.card {
    margin-bottom: 10px;
}
.raisedbox { 
    padding: 10px;
    border: 1px solid #888888;
    box-shadow:  -1px 1px #888888,
         -2px 2px #888888,
         -3px 3px #888888,
         -4px 4px #888888,
         -5px 5px #888888;
}

a:hover {
    color: rgb(138,59,61) !important;
}
