
    <form action="/api/new_user" method="POST">
        <input id="username" type="text" name="username">username
        <br>
        <input id="password" type="text" name="password">password
        <br>
        <input id="email" type="text" name="email">email
        <br>
        <button type="submit">submit</button>
    </form>
