<body>
    <h1>All users from the users table in our database</h1>
    <div>
        <% if (username.length > 0) { %>
            <% for (i=0; i < username.length; i++) { %>
                    <div>
                        <h2>
                            <%=username[i]%>
                        </h2>
                        <h2>
                            <%=password[i]%>
                        </h2>
                        <h2>
                            <%=email[i]%>
                        </h2>
                    </div>
                <br>
                <% } %>
                    <% } %>
    </div>

</body>

</html>